<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Login</h3>
</div>
<div class="modal-body">
  <div ng-hide="user">
    <form id="login-form">
      <input name="email" type="email" ng-model="email" placeholder="Email" />
      <input name="password" type="password" ng-model="password" placeholder="Password" /><br />
      <button type="submit" class="btn btn-success" ng-click="login(email, password);password=''">Login</button>
    </form>
    <button class="btn" ng-click="clearMostData();hide()">Clear Most Data</button>
    <button class="btn" ng-click="clearAllData();hide()">Clear All Data</button>
  </div>
  <div id="user-options" ng-show="user">
    You're logged in!
    <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="hide()">Close</button>
</div>