<!doctype html>
<html ng-app="fl">
  <head>
    <title>Filtered List</title>
  </head>
  <link rel="stylesheet" href="./vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
  <body ng-controller="MainCtrl">
    <h1>Filtered List</h1>
    <div data-fade="1" ng-model="tabs.activeTab" bs-tabs>
      <div ng-repeat="tab in tabs" data-title="{{tab.title}}">
        <div ng-include src="tab.page"></div>
      </div>
    </div>
    
    <script type="text/javascript" src="./vendor/csv.js"></script>
    <script type="text/javascript" src="./vendor/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="./vendor/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="./vendor/angular.min.js"></script>
    <script type="text/javascript" src="./vendor/firebase.js"></script>
    <script type="text/javascript" src="./vendor/firebase-simple-login.js"></script>
    <script type="text/javascript" src="./vendor/angularfire.js"></script>
    <script type="text/javascript" src="./vendor/angular-strap.min.js"></script>
    
    <script type="text/javascript" src="./scripts/app.js"></script>
    <script type="text/javascript" src="./scripts/directives.js"></script>
    <script type="text/javascript" src="./scripts/controllers.js"></script>
  </body>
</html>