body {
  margin: 50px;
}

.ng-cloak {
  display: none;
}

.data-item {
  cursor: pointer;
}

.margin-top-medium {
  margin-top: 24px;
}

.nav-tabs>li>a {
  cursor: pointer;
}

.tabs .tab-content {
  padding: 0px 20px 20px 20px;
}

.table.table-hover tbody tr:hover {
  cursor: pointer;
}