<div>
  <div ng-hide="user">
    <h2>Login</h2>
    <p class="muted">For some sweet features...</p>
    <form id="login-form">
      <input name="email" type="email" ng-model="email" placeholder="Email" />
      <input name="password" type="password" ng-model="password" placeholder="Password" /><br />
      <button type="submit" class="btn btn-success" ng-click="login(email, password);password=''">Login</button>
      <button type="button" class="btn btn-info" ng-click="createUser(email, password);password=''">Sign Up</button>
    </form>
  </div>
  <div id="user-options" ng-show="user">
    You're logged in!
    <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button><br />
    <br />
  </div>
  <div>
    <h2>Dataset Management</h2>
    <button type="button" class="btn btn-success" ng-click="editDataset()">+ Add New Dataset</button>
    <p>Select a dataset</p>
    <div>
      <label class="radio" ng-repeat="dataset in datasets">
        <input type="radio" name="datasetRadios" ng-model="currentDataIndex" value="{{$index}}">
        {{dataset.name}} <a ng-click="editDataset(dataset, $index)">Edit</a>
      </label>
    </div>
  </div>
</div>